@mixin segment() {
  margin: 0;
  padding: $gutter 0 $gutter - $spacing;

  &--grey {
    background-color: $color-lightgrey;
  }

  &--border-bottom {
    margin-left: auto;
    margin-right: auto;

    //padding: 0 ($gutter/2);

    &:after {
      box-sizing: content-box;

      display: block;
      content: "";

      position: relative;
      bottom: -$gutter*1 + $spacing;

      margin: 0 ($gutter*0.5);

      max-width: $max-width;
      height: 0;

      border-bottom: 1px solid #e4e4e4;

      @media (min-width: $min-720){
        margin: 0 ($gutter*1);

        bottom: -$gutter*2 + $spacing;
      }

      @media (min-width: $min-1080){
        margin: 0 ($gutter*2);

        bottom: -$gutter*3 + $spacing;
      }
    }
  }

  @media (min-width: $min-720){
    padding: $gutter*2 0 ($gutter*2) - $spacing;
  }

  @media (min-width: $min-1080){
    padding: $gutter*3 0 ($gutter*3) - $spacing;
  }

  &--short {
    @media (min-width: $min-720){
      padding-bottom: 0;
    }
  }

  &--slim {
    padding-bottom: 0;

    @media (min-width: $min-720){
      padding-top: 0;
    }

    @media (min-width: $min-1080){
      padding-bottom: $gutter * 1.5;
    }
  }
}

@mixin container() {
  margin-left: auto;
  margin-right: auto;

  padding: 0 ($gutter/2);

  max-width: $max-width;

  @media (min-width: $min-480){
    padding: 0 $gutter;
  }

  @media (min-width: $min-1080){
    padding: 0 $gutter*2;
  }

  &--slim {
    max-width: $max-width - 12rem - ($gutter*2);
  }

  &--narrow {
    max-width: $max-width - $min-width;
  }

  &--half {
    max-width: $max-width/2;
  }
}
